@page "add-reservation"
@model App.UI.Pages.Reservations.AddReservationModel
@{


}

<h1>Add New Product</h1>
<hr />

<div class="row">
    <div class="col-md-6">

<form method="post"  enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="@Model.NewReservation.Name">Name</label>
        <input asp-for="@Model.NewReservation.Name" class="form-control" />
        <span asp-validation-for="@Model.NewReservation.Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.NewReservation.Email"> Email</label>
        <input asp-for="@Model.NewReservation.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="@Model.NewReservation.Adults">Number of Adults </label>
        <input asp-for="@Model.NewReservation.Adults" class="form-control"/>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.NewReservation.Child">Number of children </label>
        <input asp-for="@Model.NewReservation.Child" class="form-control" />
    </div>

    @*<vc:meals   />*@
    <label asp-for="@Model.NewReservation.MealId">Meal Plan</label>

    <select asp-for="@Model.NewReservation.MealId"  class="form-control mb-3">
                @foreach (var item in @Model.MealPlans)
                {
                    <option  value="@item.Id">@item.Name</option>

                }
    </select>
    <label asp-for="@Model.NewReservation.RoomId">Room Type</label>
    <select asp-for="@Model.NewReservation.RoomId"  class="form-control mb-3">
                @foreach (var item in @Model.Rooms)
                {
                        <option  value="@item.Id">@item.Name</option>

                }
    </select>
    <label asp-for="@Model.NewReservation.SeasonId">Season</label>

        <select asp-for="@Model.NewReservation.SeasonId"  class="form-control mb-3">
                @foreach (var item in @Model.Seasons)
                {
                            <option  value="@item.Id">@item.StartDate - @item.EndDate</option>

                }
    </select>

     <div class="mb-3">
        <label asp-for="@Model.NewReservation.Checkin">Check in date</label>
         <input asp-for="@Model.NewReservation.Checkin" type="date" class="form-control" id="checkInDate"/>
    </div>
    <div class="mb-3">
         <label asp-for="@Model.NewReservation.Checkout">Check Out date</label>
         <input asp-for="@Model.NewReservation.Checkout" type="date" class="form-control" id="checkOutDate"/>
    </div>

            @if (ViewContext.RouteData.Values["id"] is not null)
            {
                <button asp-page-handler="edit" class="btn btn-success">Submit</button>
                <button asp-page-handler="delete" class="btn btn-danger float-end">Delete</button>
            }
            else
            {
                <button class="btn btn-success">Add</button>
            }
</form>


</div>